
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>LiveLoveLind</h3>
              <p>
                Twin Cities <br>
                MN 55343, USA<br><br>
                <strong>Phone:</strong> +1 612 404 0884<br>
                <strong>Email:</strong> LiveLoveLind.Weddings@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/LiveLoveLind?s=20" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/livelovelind/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://instagram.com/livelovelind?r=nametag" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="mailto:LiveLoveLind.Weddings@gmail.com" target="_blank" class="bi bi-envelope"></i></a>

                <!-- " class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
                <!--<i class="bx bxl-bi bi-envelope">-->
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html#specials">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="assets/img/agreement/Officiant Agreement.pdf" download="Officiant Agreement">Wedding Agreement</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <!-- <a href="./directory/yourfile.pdf" download="newfilename">Download the pdf</a>
          "pdf_server.php?file=pdffilename" C:\Officiating site\LiveLoveLind.github.io\_site\assets\img\agreement\Officiant Agreement.pdf-->
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html#specials">Officiating</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html#specials">Ceremony Composition</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html#specials">Rehearsal Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html#specials">Vow Creation Coaching</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html#why-us">Wedding Workshop</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Would you like to know more vow or ceremony writing tips? Sign up for the newsletter! </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <!-- If you ever copyright LiveLoveLind, uncomment this below! -->
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>LiveLoveLind</span></strong>. All Rights Reserved
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/LiveLoveLind-restaurant-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
