<!-- ======= Promotions ======= -->

<section id="promotions" class="promotions">
  <div class="container" data-aos="fade-up">
    
    <div class="section-title">
      <h2>Ceremony Bundles</h2>
      <p>Promotions</p>
      <!-- <div class="row">
        <div class="col-lg-3 col-md-6">
          <a href="https://twitter.com/LiveLoveLind?s=20" target="_blank" class="bx bxl-twitter" style="font-size:30px"></a>
          <a href="https://www.facebook.com/livelovelind/" target="_blank" class="bx bxl-facebook" style="font-size:30px"></a>
          <a href="https://instagram.com/livelovelind?r=nametag" target="_blank" class="bx bxl-instagram" style="font-size:30px"></a>
          <a href="mailto:LiveLoveLind.Weddings@gmail.com" target="_blank" class="bi bi-envelope ms-2" style="font-size:30px"></a>
        </div>
       </div> -->
    </div>
  </div>


  <div class="container" data-aos="fade-up">
    <div class="row mt-2">
      <div class="col">
      </div>
      <div class="col-lg-9 mt-5 mt-lg-0">
        <div class="text-center">
          <h4>Live Love Lind Partner Promotions</h2>
          <p>This page lists all current promotional offers the Live Love Lind vendor network is extending. When your Live Love Lind Officiant Agreement is signed, you'll receive all available promotional codes & access! Just one of the many perks of booking Live Love Lind.</p>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row mt-5">

      <div class="col-lg-4">

      </div>
     
      <div class="col-lg-8 mt-5 mt-lg-0">
        <div class="gallery-item">
          <a href="assets/img/promos/capture-mn.png" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/promos/capture-mn.png" width="400" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https://www.capture-mn.com/" target="_blank"><span>Photo Booths by Capture-MN </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">

      </div>
    </div>

  </div>
</section><!-- End Contact Section -->