<!-- ======= Promotions ======= -->

<section id="promotions" class="promotions">
  <div class="container" data-aos="fade-up">
    
    <div class="section-title">
      <h2>Ceremony Bundles</h2>
      <p>Promotions</p>
      <!-- <div class="row">
        <div class="col-lg-3 col-md-6">
          <a href="https://twitter.com/LiveLoveLind?s=20" target="_blank" class="bx bxl-twitter" style="font-size:30px"></a>
          <a href="https://www.facebook.com/livelovelind/" target="_blank" class="bx bxl-facebook" style="font-size:30px"></a>
          <a href="https://instagram.com/livelovelind?r=nametag" target="_blank" class="bx bxl-instagram" style="font-size:30px"></a>
          <a href="mailto:LiveLoveLind.Weddings@gmail.com" target="_blank" class="bi bi-envelope ms-2" style="font-size:30px"></a>
        </div>
       </div> -->
    </div>
  </div>


  <div class="container" data-aos="fade-up">

    <div class="row mt-5">

      <div class="col-lg-4">

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

      </div>
      <div class="col-lg-4">

      </div>
    </div>

  </div>
</section><!-- End Contact Section -->