<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Officiant and Celebrant Services</h2>
      <p>Ceremony Package Options</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Short Notice or Elopement
              Ceremony Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Intimate Ceremony Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Basic Ceremony Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Traditional Ceremony Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Premium Ceremony Package</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Short Notice or Elopement Ceremony Package - $100</h3>
                <p class="fst-italic">This ceremony package is suitable for couples planning an elopement or short
                  notice wedding, but do not want the "County Courthouse" environment. &nbsp;The ceremony must take
                  place no more than<strong> one week</strong> after contacting Celebrations by Shari and may not
                  include more than <strong>10&nbsp;guests</strong>. &nbsp;This package includes:</p>
                <ul>
                  <li>
                    <p>Choice of pre-written religious or non-religious ceremony</p>
                  </li>
                  <li>
                    <p>Ceremony approximately 10 minutes in length</p>
                  </li>
                  <li>
                    <p>Officiant will arrive 10 minutes prior to beginning of ceremony</p>
                  </li>
                  <li>
                    <p>All ceremony wording presented to couple in keepsake folder.</p>
                  </li>
                  <li>
                    <p>Filing of marriage license.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-1.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Intimate Ceremony Package - $150</h3>
                <p class="fst-italic">This ceremony package is suitable for couples planning a brief and casual wedding,
                  vow renewal or commitment ceremony including up to <strong>25 guests</strong>. &nbsp;It is intended
                  for couples who do not want to include bridal party attendants, processional and recessional music.
                  &nbsp;This ceremony package includes:</p>
                <ul data-rte-list="default">
                  <li>
                    <p>Religious or non-religious ceremony created from
                      <strong>three different wording options</strong> for each ceremony element, provided to couple by
                      <em>Celebrations by Shari.</em>
                    </p>
                  </li>
                  <li>
                    <p>Ceremony lasting approximately 10-15 minutes in length.
                    </p>
                  </li>
                  <li>
                    <p>Officiant will arrive <strong>15 minutes</strong> prior to the start of the ceremony.</p>
                  </li>
                  <li>
                    <p>All ceremony wording presented to couple in a keepsake folder.</p>
                  </li>
                  <li>
                    <p>Filing of marriage license.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Basic Ceremony Package - $250</h3>
                <p class="fst-italic">This ceremony package is suitable for couples planning a basic wedding, vow
                  renewal or commitment ceremony including up to <strong>75 guests</strong>. &nbsp;It is intended for
                  couples who want to include a bridal party along with a processional and recessional. &nbsp;It is also
                  designed for couples who desire wording options when creating a religious or non-religious ceremony.
                </p>
                <ul data-rte-list="default">
                  <li>
                    <p>Religious or non-religious ceremony created from
                      <strong>five different wording options</strong> for each ceremony element, provided to coulple by
                      <em>Celebrations by Shari.</em>
                    </p>
                  </li>
                  <li>
                    <p>Unlimited phone, email and text consultations.</p>
                  </li>
                  <li>
                    <p>Ceremony may include music during processional and recessional.</p>
                  </li>
                  <li>
                    <p>Ceremony may include one reading by a friend or family
                      member <strong>OR</strong> one specialty ceremony, such as the unity candle, sand ceremony, rose
                      honorarium ceremony, hand ceremony, etc. Many options with wording will be provided by
                      <em>Celebrations by Shari.</em>
                    </p>
                  </li>
                  <li>
                    <p>Ceremony will last approximately <strong>15-20 minutes</strong> in length.</p>
                  </li>
                  <li>
                    <p>Officiant will arrive 20 minutes prior to the start of the ceremony to assit the bride and groom.
                    </p>
                  </li>
                  <li>
                    <p>All ceremony wording presented to couple in a keepsake folder.</p>
                  </li>
                  <li>
                    <p>Filing of marriage license.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Traditional Ceremony Package - $350</h3>
                <p class="fst-italic">This ceremony package is suitable for couples planning a wedding, vow renewal or
                  commitment ceremony including up to <strong>150 guests</strong>. &nbsp;It is intended for couples who
                  want to include a processional/recessional with music and desire a more personal written or
                  non-religious ceremony that may include one reading and one specialty ceremony. &nbsp;This package
                  includes:</p>
                <ul data-rte-list="default">
                  <li>
                    <p>Custom written religious or non-religious ceremony created from <strong>ten different wording
                        options</strong> for each ceremony element, provided by <em>Celebrations by Shari.</em></p>
                  </li>
                  <li>
                    <p>Couples may write their own personal vows, if desired.Unlimited phone, email and text
                      consultations.</p>
                  </li>
                  <li>
                    <p>Ceremony may include music during processional, recessional and one musical piece during the
                      ceremony.</p>
                  </li>
                  <li>
                    <p>Ceremony may include one specialty ceremony such as unity candle, sand ceremony, rose honorarium
                      ceremony, hand ceremony, and etc. Many options with wording will be provided by <em>Celebrations
                        by Shari.</em></p>
                  </li>
                  <li>
                    <p>Ceremony may include one reading to be shared by a friend or relative. Many religious and
                      non-religious reading options provided by <em>Celebrations by Shari.\</em>Ceremony will
                      last<strong> 20-25 minutes</strong> in length.</p>
                  </li>
                  <li>
                    <p>Officiant will arrive 30 minutes prior to the start of the ceremony to assist with the line-up of
                      the bridal party.</p>
                  </li>
                  <li>
                    <p>All ceremony wording presented to couple in a keepsake folder.Officiant will file marriage
                      license.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-4.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Premium Ceremony Package - $450</h3>
                <p class="fst-italic">This ceremony package is our top of the line offering and is suitable for couples
                  planning a large wedding, vow renewal or commitment ceremony. &nbsp;You may use <em>Celebrations by
                    Shari's </em>wide array of ceremony resources, or we will craft a customized religious or
                  non-religious ceremony from scratch. &nbsp;We will suggest ideas for each facet of your ceremony and
                  rewrite as needed until we get every word perfect. &nbsp;This package &nbsp;includes:</p>
                <ul data-rte-list="default">
                  <li>
                    <p>Custom writtten, creative ceremony that is unique to each couple. Couple provided with a minimum
                      of <strong>fifteen different wording options</strong> for each ceremony element, provided by
                      <em>Celebrations by Shari.</em></p>
                  </li>
                  <li>
                    <p>Couple may write personal vows/assistance available if needed.</p>
                  </li>
                  <li>
                    <p>Access to <em>Celebrations by Shari's </em>vast resources for ceremony ideas.</p>
                  </li>
                  <li>
                    <p>Personal consultation with Officiant prior to wedding, if desired.</p>
                  </li>
                  <li>
                    <p>Unlimited phone, email and text consultations.</p>
                  </li>
                  <li>
                    <p>No time restrictions on ceremony.</p>
                  </li>
                  <li>
                    <p>No restrictions on number of guests.</p>
                  </li>
                  <li>
                    <p>Ceremony may include any number of specialty ceremonies--such as unity candle ceremony, sand
                      ceremony, rose honorarium ceremony, wine ceremony, stone blessing ceremony, etc. Many ideas and
                      wording options provided by <em>Celebrations by Shari.</em></p>
                  </li>
                  <li>
                    <p>Ceremony may include as many religious or non-religious readings as desired. Many options will be
                      provided by <em>Celebrations by Shari.</em></p>
                  </li>
                  <li>
                    <p>Ceremony may include music during procession and recessional, along with any number of musical
                      selections during the ceremony.</p>
                  </li>
                  <li>
                    <p>Whatever you can dream of including in your ceremony, we will help you create!</p>
                  </li>
                  <li>
                    <p>Officiant will arrive 60 minutes prior to the start of the cermony to help with the line-up of
                      the bridal party and any ceremony concerns.</p>
                  </li>
                  <li>
                    <p>All ceremony wording is presented to the couple in a keepsake folder.</p>
                  </li>
                  <li>
                    <p>Officiant will file marriage license.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/specials-5.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Specials Section -->