<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Gallery</h2>
      <p>Celebrate the day!</p>
    </div>
  </div>

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
<!-- ======= row will run to end of whatever screen size ======= -->
    <div class="row g-0">
<!-- ======= 1 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/josh and risa 3.JPG" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/josh and risa 3.JPG" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https://www.instagram.com/nmalmquistphoto/" target="_blank"><span>Photo by @nmalmquistphoto
              </span>
            </a>
          </div>
        </div>
      </div>
<!-- ======= 2 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/brandon and rachel.JPG" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/brandon and rachel.JPG" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href=" https://www.jenkimlingerphotography.com/" target="_blank"><span>Photo by Jen Kimlinger
                Photography </span>
            </a>
          </div>
        </div>
      </div>
<!-- ======= 3 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/Pavana-James-Wedding-686_websize.jpg" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/Pavana-James-Wedding-686_websize.jpg" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https://www.instagram.com/foxandloonphoto/" target="_blank"><span>Photo by @foxandloonphoto
              </span>
            </a>
          </div>
        </div>
      </div>
<!-- ======= 4 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/billy and jen 2.JPG" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/billy and jen 2.JPG" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https:////www.instagram.com/georgestreetphoto/" target="_blank"><span>Photo by Alex Zitser
                @georgestreetphoto </span>
            </a>
          </div>
        </div>
      </div>
<!-- ======= 5 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/billy and jen 3.jpg" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/billy and jen 3.jpg" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https:////www.instagram.com/georgestreetphoto/" target="_blank"><span>Photo by Alex Zitser
                @georgestreetphoto </span>
            </a>
          </div>
        </div>
      </div>
<!-- ======= 6 ======= -->     
      <div class="col-lg-3 col-md-4">
        <!-- <iframe src= "assets/img/gallery/bear-annie-vows_trim_Trim-test.mp4" width=”640px” height=”380px” title= "YouTube video" allowfullscreen></iframe> -->
        <div class="gallery-item">
          <a href ="assets/img/gallery/bear-annie-vows_trim.mp4" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/bear-annie-vows_trim.png" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
              <a href="https://kostproductions.com/" target="_blank"><span>Videography clips by Kost Productions</span>
              </a>
          </div> 
          <!-- <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fkostproductions%2Fvideos%2F581323356298506%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->
        </div>
      </div>
<!-- ======= 7 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/chris and vi.JPG" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/chris and vi.JPG" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https://www.instagram.com/stephaniemariephoto.mn/?hl=en" target="_blank"><span>Photo by 
                @stephaniemariephoto.mn  </span>
            </a>
          </div>
        </div>
      </div>
 <!-- ======= 8 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/chris and vi 2.JPEG" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/chris and vi 2.JPEG" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https://www.instagram.com/stephaniemariephoto.mn/?hl=en" target="_blank"><span>Photo by 
                @stephaniemariephoto.mn  </span>
            </a>
          </div>
        </div>
      </div>
<!-- ======= 9 ======= -->     
<!--<div class="col-lg-3 col-md-4">
  <div class="gallery-item">
    <a href ="assets/img/gallery/chris-vi-vows_reduced3.mp4" class="gallery-lightbox" data-gall="gallery-item">
      <img src="assets/img/gallery/chris-vi-tile.png" alt="" class="img-fluid">
    </a>
    <div class="caption BL">
        <a href="" target="_blank"><span>Video by the Bride & Groom</span>
        </a>
    </div> 
  </div>
</div>
 ======= 9 ======= -->     
<div class="col-lg-3 col-md-4">
  <div class="gallery-item">
    <a href ="assets/img/gallery/Brenda_Ivan Montage_42MB.mp4" class="gallery-lightbox" data-gall="gallery-item">
      <img src="assets/img/gallery/BrendaIvanVideoTile.png" alt="" class="img-fluid">
    </a>
    <div class="caption BL">
        <a href="https://www.instagram.com/theadamkovi/" target="_blank"><span>Video by @theadamkovi</span>
        </a>
    </div> 
  </div>
</div>
<!-- ======= 10 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/ashley and hunter.png" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/ashley and hunter.png" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https://www.instagram.com/whitneyreneecreations/?hl=en" target="_blank"><span>Photo by 
              @whitneyreneecreations </span>
            </a>
          </div>
        </div>
      </div>
<!-- ======= 11 ======= -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/ashley and hunter 3.png" class="gallery-lightbox" data-gall="gallery-item">
            <img src="assets/img/gallery/ashley and hunter 3.png" alt="" class="img-fluid">
          </a>
          <div class="caption BL">
            <a href="https://www.instagram.com/whitneyreneecreations/?hl=en" target="_blank"><span>Photo by 
              @whitneyreneecreations </span>
            </a>
          </div>
        </div>
      </div>
<!-- ======= 12 ======= -->
<div class="col-lg-3 col-md-4">
  <div class="gallery-item">
    <a href="assets/img/gallery/rhiannon and jas 2.JPG" class="gallery-lightbox" data-gall="gallery-item">
      <img src="assets/img/gallery/rhiannon and jas 2.JPG" alt="" class="img-fluid">
    </a>
    <div class="caption BL">
      <a href="https://www.instagram.com/annakophoto/" target="_blank"><span>Photo by 
        @annakophoto</span>
      </a>
    </div>
  </div>
</div>
<!-- ======= 13 ======= -->
<div class="col-lg-3 col-md-4">
  <div class="gallery-item">
    <a href="assets/img/gallery/BrendaIvan1.jpg" class="gallery-lightbox" data-gall="gallery-item">
      <img src="assets/img/gallery/BrendaIvan1.jpg" alt="" class="img-fluid">
    </a>
    <div class="caption BL">
      <a href="https://www.instagram.com/theadamkovi/" target="_blank"><span>Photo by 
        @theadamkovi</span>
      </a>
    </div>
  </div>
</div>
    </div>

  </div>
</section><!-- End Gallery Section -->
