<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="assets/img/wedding/bear and annie.JPG" width="500"  alt="" >
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>About Me</h3>
                <p class="fst-italic">
                    Welcome to LiveLoveLind! I’m Chelsea Lind, a Twin Cities Officant and Celebrant. 
                    Crafting personalized & meaningful ceremonies for my couples is my passion. 
                    Whether you prefer traditional or modern elements, I'd love to help you create a ceremony you'll love.
                    <br>
                    <br>
                    I began my officiating career as a favor for a friend's wedding. I was honored to be part of their big day! 
                    So, I dove into blogs, youtube, trainings, and all manner of inspiration sources to prepare for my first ceremony. 
                    I met with my couple and got to know them in a way I hadn't before; 
                    I had the privellage of hearing their love story through their eyes and hearts. 
                    This intimate experience was inspiring. I fell in love with their story, with all its sweetness and quirks. 
                    And just like that! The ceremony script began to pour out of me. Working closely with the couple, 
                    we ended up with a script they both loved. A blend of traditional and unique elements that was all their own, 
                    they felt their guests truely got a glimpse of the love they share. One ceremony led to the next, 
                    and before I knew it-- I was hooked! Getting to know couples in this unique way &
                    composing ceremonies that reflect their personalities & story turned a favor into a fervor. 
                    Offciating has become a labor of love, and I would LOVE to part of your big day as well. 
                    <br>
                    <br>
                    Let’s connect! Please feel free to send me an email to setup a "Get to know me" meeting to see if I'm the right fit for you. 
                </p>
                <!-- <ul>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                    </li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat
                        nulla pariatur.</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p> -->
            </div>
        </div>

    </div>
</section><!-- End About Section -->