<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What couples are saying</p>
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Chelsea officiated our wedding on August 7th, 2021 and did a wonderful job!
                She created a beautiful, personalized ceremony for my husband and I.
                She got to know us beforehand and created a script that reflected our love story and our goofy personalities.
                Chelsea helped with our vows for the ceremony as well. She's awesome!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/temp logo canva.png" class="testimonial-img" alt="logo">
              <h3>Jennifer B.</h3>
              <h4>Bride</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                We are so so happy that we met Chelsea and got to share our special day with her!!
                We were literally lost about what direction we were going for an officiant before we met her!
                EVERY SINGLE PERSON at our ceremony said that they'd never heard more beautiful vows and that
                they couldn't help from crying and that is a huge compliment to Chelsea,
                making sure Bear and I were on the same track and you taking the time to truly understand our journey to marriage!!
                I will be sure to share her information with any one that I know looking for officiant services!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/AdobeStock_407296743.jpeg" class="testimonial-img" alt="">
              <h3>Mr & Mrs Adams</h3>
              <h4>Bride & Groom</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                You are amazing! What a beautiful ceremony you performed.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/AdobeStock_407296743.jpeg" class="testimonial-img" alt="">
              <h3>Mrs. Davis</h3>
              <h4>Mother of the Bride</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/logo temp.jpg" class="testimonial-img" alt="">
              <h3>Brandon & Rachel</h3>
              <h4>Bride and Groom</h4>
            </div>
          </div><!-- End testimonial item -->

                  </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
