<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What couples are saying</p>
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Chelsea officiated our wedding on August 7th, 2021 and did a wonderful job!
                She created a beautiful, personalized ceremony for my husband and I.
                She got to know us beforehand and created a script that reflected our love story and our goofy personalities.
                Chelsea helped with our vows for the ceremony as well. She's awesome!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/temp logo canva.png" class="testimonial-img" alt="logo">
              <h3>Jennifer B.</h3>
              <h4>Bride</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                We are so so happy that we met Chelsea and got to share our special day with her!!
                We were literally lost about what direction we were going for an Officiant before we met her!
                EVERY SINGLE PERSON at our ceremony said that they'd never heard more beautiful vows and that
                they couldn't help from crying and that is a huge compliment to Chelsea,
                making sure Bear and I were on the same track and you taking the time to truly understand our journey to marriage!!
                I will be sure to share her information with any one that I know looking for Officiant services!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/AdobeStock_407296743.jpeg" class="testimonial-img" alt="">
              <h3>Mr & Mrs Adams</h3>
              <h4>Bride & Groom</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                You are amazing! What a beautiful ceremony you performed.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/AdobeStock_407296743.jpeg" class="testimonial-img" alt="">
              <h3>Mrs. Davis</h3>
              <h4>Mother of the Bride</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                We couldn't have asked for a better officiate than Chelsea! She met with us multiple times to get an idea of what we wanted. When we expressed an unique request, Chelsea did the research on how to make it work. She created several examples for how the ceremony could go, and she advised us on what she thought would work best when we were indecisive. Overall, she provided a professional, in-depth service that went above and beyond what I had expected.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/logo temp.jpg" class="testimonial-img" alt="">
              <h3>Rachel</h3>
              <h4>Bride</h4>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Chelsea was a joy and savior to work with during our wedding! She helped plan things out almost a year in advance, and when COVID restrictions hit the planning portion of the event, was very open and flexible with all of the changes those restrictions caused. 
                The weekend of the wedding, we had a few different events that she was a part of, and she was incredibly professional throughout the festivities! Chelsea had a schedule planned out on when people would speak, musical cues, and how everything should run during the big day!
                We honestly could not have had our wedding without her help, support, and planning! It was tough given the circumstances and changes due to health concerns, and she helped make it perfect!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/logo temp.jpg" class="testimonial-img" alt="">
              <h3>Brandon</h3>
              <h4>Groom</h4>
            </div>
          </div><!-- End testimonial item -->
                  </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
