<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Officiant and Celebrant Services</h2>
      <p>Ceremony Package Options</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Short Notice or Elopement
              Ceremony Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Basic Ceremony Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">LiveLoveLind Ceremony Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Ceremony Writing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Vow Writing Workshop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Wedding Rehearsals</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Short Notice or Elopement Ceremony Package - $100</h3>
                <p class="fst-italic">While I love spending more time with my couples crafting their perfect ceremony,
                  I am also happy to perform elopements or weddings on short notice-- especially in these uncertain
                  times!
                  This package is affordable, feels more intimate than the courthouse, and affords you some control over
                  the ceremony wording.

                  <br><br>This package includes:
                </p>
                <ul data-rte-list="default">
                  <li>
                    <p>Choice of pre-written religious or non-religious ceremony elements</p>
                  </li>
                  <li>
                    <p>The couple is also welcome to provide or write their own short ceremony as long as it remains
                      within the time bounds</p>
                  </li>
                  <li>
                    <p>Ceremony approximately 10-15 minutes in length</p>
                  </li>
                  <li>
                    <p>Officiant will arrive 30 minutes prior to beginning of ceremony</p>
                  </li>
                  <li>
                    <p>All ceremony wording shared via Google Docs.</p>
                  </li>
                  <li>
                    <p>Filing of marriage license.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/temp logo canva.png" alt="logo" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Basic Ceremony Package - $350</h3>
                <p class="fst-italic"> If you find yourself on a budget, don't prefer to share personal stories with all
                  your guests, or have writen a ceremony yourself-- the basic ceremony
                  package might be a great fit for your big day! With this service you will still receive all the
                  guidance our LiveLoveLind package provides- the wedding workshop,
                  writing resources & suggestions, and some ceremony customization. You will still get to customize what
                  elements are included and choose from a wide array of wording
                  suggestions.
                  <br><br>This package includes:
                </p>
                </p>
                <ul data-rte-list="default">
                  <li>
                    <p>Access to <em> LiveLoveLind's </em> resources for ceremony ideas- unity ceremonies, readings,
                      blessings, vows, and much more.</p>
                  </li>
                  <li>
                    <p>Ceremony may also include elements found or writen by the couple</p>
                  </li>
                  <li>
                    <p><em>LiveLoveLind's</em> Wedding workshop, where you are guided through all the ceremony element
                      options, work though all the processional logistics, vendor coordination, and other day of
                      details.</p>
                  </li>
                  <li>
                    <p>Unlimited phone, email and text consultations.</p>
                  </li>
                  <li>
                    <p>Ceremony may include as many religious or non-religious elements as the couple desires</p>
                  </li>
                  <li>
                    <p>Ceremony may include music during procession and recessional, along with any number of musical
                      selections during the ceremony.</p>
                  </li>
                  <li>
                    <p>Officiant will arrive 30 minutes prior to the start of the cermony to help with the line-up of
                      the bridal party and any ceremony concerns, and coordinate with other vendors as needed.</p>
                  </li>
                  <li>
                    <p>All ceremony wording will be available via Google Docs.</p>
                  </li>
                  <li>
                    <p>Officiant will file marriage license.</p>
                  </li>
                </ul>
              </div>

              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/temp logo canva.png" alt="logo" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>LiveLoveLind Ceremony Package - $500</h3>
                <p class="fst-italic"> The LiveLoveLind package ensures that the focus of the big day is, as it should
                  be, the unique love that you share as a couple!
                  We will work together to create a ceremony that reflects your personalities, your love story, and any
                  special elements you'd like to share with your guests.
                  From the welcome to the pronouncement and everything in between,
                  I will guide you through all the ceremony options during a one hour wedding workshop.
                  Once you've selected the elements you'd like to include, I will supply ideas for each facet and
                  customize each element to fit your vision.
                  Then, we will give your custom ceremony that personal touch!
                  Instead of pulling platitudes off the internet or from the wedding I did the week before,
                  I like to begin the ceremony by telling <em>your</em> love story. There’s magic in how you met, fell
                  in love, and got engaged.
                  As your story unfolds, friends and family get to share in that magic and glimpse the love you have for
                  one another.
                  Your ceremony script will be available to you 24/7 via Google Docs, where we can collaberate and
                  adjust each part until every word is perfect.
                  <br><br>This package includes:
                </p>
                <ul data-rte-list="default">
                  <li>
                    <p>Custom writtten ceremony that is unique to each couple. Unlimited revisions and
                      collaberation.</em></p>
                  </li>
                  <li>
                    <p>Personal vow writing assistance available if needed.</p>
                  </li>
                  <li>
                    <p>Access to <em> LiveLoveLind's </em> resources for ceremony ideas- unity ceremonies, readings,
                      blessings, vows, and much more.</p>
                  </li>
                  <li>
                    <p>Ceremony may also include elements found or writen by the couple</p>
                  </li>
                  <li>
                    <p><em>LiveLoveLind's</em> Wedding workshop, where you are guided through all the ceremony element
                      options, work though all the processional logistics, vendor coordination, and other day of
                      details.</p>
                  </li>
                  <li>
                    <p>Unlimited phone, email and text consultations.</p>
                  </li>
                  <li>
                    <p>Ceremony may include as many religious or non-religious elements as the couple desires</p>
                  </li>
                  <li>
                    <p>Ceremony may include music during procession and recessional, along with any number of musical
                      selections during the ceremony.</p>
                  </li>
                  <li>
                    <p>Whatever you can dream of including in your ceremony, we will help you bring it to life!</p>
                  </li>
                  <li>
                    <p>Officiant will arrive 30 minutes prior to the start of the cermony to help with the line-up of
                      the bridal party and any ceremony concerns, and coordinate with other vendors as needed.</p>
                  </li>
                  <li>
                    <p>All ceremony wording will be available via Google Docs.</p>
                  </li>
                  <li>
                    <p>Officiant will file marriage license.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/temp logo canva.png" alt="logo" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Ceremony Writing - $350</h3>
                <p class="fst-italic">Whether you are having a friend or family member officiate or I'm unavailable for
                  your big day, I'd still love to
                  help you create the ceremony of your dreams. With this package you will get all the benefits of a
                  LiveLoveLind ceremony- the wedding work shop,
                  the custom and personalized wedding script, and full access to the ceremony script via Google Docs.
                  You will be able to hand your officiant of
                  choice a complete ceremony to follow.
                  <br><br>This package includes:
                </p>
                <ul data-rte-list="default">
                  <li>
                    <p>Custom writtten ceremony that is unique to each couple. Unlimited revisions and
                      collaberation.</em></p>
                  </li>
                  <li>
                    <p>Personal vow writing assistance available if needed.</p>
                  </li>
                  <li>
                    <p>Access to <em> LiveLoveLind's </em> resources for ceremony ideas- unity ceremonies, readings,
                      blessings, vows, and much more.</p>
                  </li>
                  <li>
                    <p><em>LiveLoveLind's</em> Wedding workshop, where you are guided through all the ceremony element
                      options, work though all the processional logistics, vendor coordination, and other day of
                      details.</p>
                  </li>
                  <li>
                    <p>Unlimited phone, email and text consultations.</p>
                  </li>
                  <li>
                    <p>Ceremony may include as many religious or non-religious elements as the couple desires</p>
                  </li>
                  <li>
                    <p>Ceremony may include music during procession and recessional, along with any number of musical
                      selections during the ceremony.</p>
                  </li>
                  <li>
                    <p>Whatever you can dream of including in your ceremony, we will help you bring it to life!</p>
                  </li>
                  <li>
                    <p>All ceremony wording will be available via Google Docs.</p>
                  </li>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/temp logo canva.png" alt="logo" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Vow Writing Workshop - $20/hour</h3>
                <p class="fst-italic">Even if you've selected another officiant or have a friend performing your
                  ceremony,
                  I'm still here to help brides & grooms as a writing coach! This coaching package is here to help
                  couples get started on their vows.
                  Writing your own vows can be challenging! After reviewing your ceremony plans, I will guide you
                  through different style options,
                  various writing tools, and help gather your inspiration sources. With all these tools, we will bring
                  out the words that are in you hearts,
                  and get them on paper.
                  <br><br>This package includes:
                </p>
                <ul data-rte-list="default">
                  <li>
                    <p>Writing prompts & tools. Tried and true, these writing aids have helped all my couples create
                      custom vows.
                    </p>
                  </li>
                  <li>
                    <p>Inspiration Resources. I've compiled several resources that help get the creativity flowing and
                      will
                      supply additional resources based on your interests and ceremony plans.</p>
                  </li>
                  <li>
                    <p>Editing and Revision suggestions.</p>
                  </li>
                  <li>
                    <p>Unlimited phone, email and text consultations.</p>
                  </li>
                  <li>
                    <p>All vow documents and collaberation materials will be available via Google Docs.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/temp logo canva.png" alt="logo" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-6">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Wedding Rehearsals - $50</h3>
                <p class="fst-italic">At LiveLoveLind, we've separated out our pricing for rehearsals for the convenience
                  of our couples.
                  We recognize not every wedding requires or desires one! So we leave it up to you. However,
                  I always recommend having a rehearsal. It's a great way to ensure your bridal party knows where to
                  stand,
                  how to face the camera, and various other tips that ensure a smooth processional.
                  It also gives us a chance to change up any last minute details so that the day is just as you want it!
                  <br><br>This package includes:
                </p>
                <ul data-rte-list="default">

                  <li>
                    <p>Talk through: I spend the first part introducing myself to the party and talking them through
                      your ceremony. I will not read the script word for word,
                      we'll save that for the day! But I highlight cues they need to know, and the general elements that
                      will take place.</p>
                  </li>
                  <li>
                    <p>Walk through: Next I guide the party through all the motions at 1/2 speed. I promise the first
                      walk through will look awkward! But, this will get out all the confusion. </p>
                  </li>
                  <li>
                    <p>Final Walk through: Now that everyone knows where they need to be, we repeat the processional
                      from the beginning and answer any final questions. </p>
                  </li>
                  <li>
                    <p>This should take between 30- 45 minutes depending on the number of party members and complexity
                      of the ceremony.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/temp logo canva.png" alt="logo" class="img-fluid">
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  </div>

</section><!-- End Specials Section -->