
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>
    </div>

    <div data-aos="fade-up">
      <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90327.63813547479!2d-93.23678122026531!3d44.96930309539188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f629fd5bb7538f%3A0xd070c186a8aea420!2sTwin%20Cities%2C%20MN!5e0!3m2!1sen!2sus!4v1640898869533!5m2!1sen!2sus" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container" data-aos="fade-up">

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Twin Cities, MN 55343</p>
            </div>

            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Open Hours:</h4>
              <p>
                Monday-Saturday:<br>
                9:00 AM - 7:00 PM
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>LiveLoveLind.Weddings@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 612 404 0884</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form id="contact-us-form" action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <h4> Your Information </h4>
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name (First & Last)" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" name="role" class="form-control" id="role" placeholder="Bride or Groom?" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" name="texting" class="form-control" id="texting" placeholder="Can I text you at this Phone Number? (Yes or No)" required>
              </div>
              <h4> Partner's Details </h4>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" name="partner name" class="form-control" id="partner name" placeholder="Who's the lucky someone? (First & Last)" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" name="partner role" class="form-control" id="partner role" placeholder="Bride or Groom?" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" name="partner email" class="form-control" id="partner email" placeholder="Fiance's Email" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" name="texting" class="form-control" id="texting" placeholder="Can I text you at this Phone Number? (Yes or No)" required>
              </div>
              <h4> Tell me about your big day! </h4>
              <!-- <h6>What's  your event date?</h6> -->
              <p class="info p"style="font-size:16px">What's  your event date? </p>
            <div class="col-md-6 form-group">
            <input type="datetime-local" class= "form-control" id="event date" placeholder="Event Date">
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="text" name="flexible" class="form-control" id="flexible" placeholder="Is your start time flexible? (Yes or No)" required>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" name="city" class="form-control" id="city" placeholder="Event City" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="text" name="venue" class="form-control" id="venue" placeholder="Event Venue" required>
            </div>
            <p class="info p"style="font-size:16px"> Which of my services are you intersted in? </p>
            <!-- <h6>Which of my services are you intersted in?</h6> -->
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <select name="Which of my services are you interested in?">
                <option value="Elopement">Elopement Package- $100</option>
                <option value="Basic Package">Basick Package- $350</option>
                <option value="LiveLoveLind Package">LiveLoveLind Package- $500</option>
                <option value="Ceremony Writing">Ceremony Writing- $350</option>
                <option value="Vow Writing Workshop">Vow Writing Workshop- $20/hour</option>
              </select>
              </div>
            </div>
            <!-- <h6>What other questions or details would you like me to know?</h6> -->
            <p class="info p"style="font-size:16px">What other questions or details would you like me to know?</p>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" id="contact-message" name="message" rows="8" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
              <a id="submit-contact-form" target="_blank" rel="noopener noreferrer" href="#" style="pointer-events:none">Send Message</a>
            </div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
