<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Why Us</h2>
        <p>Why choose us for your wedding?</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>The Wedding Workshop</h4>
            <p>Planning a ceremony can be daunting! Not surprisingly, most couples aren't sure what all they should or could include. 
              In my 1 hour Wedding Workshop I walk my couples through all the standard elements of a ceremony and we capture all of the important details:
               cast of characters, logisitcs, and any must-have or must-avoid details. Don't have all the answers on day 1? Don't worry! 
               The Workshop kicks off the creative process, but we can make changes and updates right up to the big day.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>Your Wedding, Your Script </h4>
            <p> You can have peace of mind knowing what will be said, word-for-word, on the big day. 
              24/7 access to your wedding ceremony script via Google docs allows us to collaberate throughout the process
              and gives you total control over the final draft. 
              <br><br>
              Want to keep your vows a surprise? No problem! 
              I love a good surprise and am happy to create separate documents for the vows and work with you both privately.  
              </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4> Custom & Personal</h4>
            <p>From the welcome to the pronouncement and everything in between, I will guide you through the options during
              the 1 hour wedding workshop. Once you've decide what elements you'd like to include, we can start giving your custom ceremony that personal touch. 
              Instead of pulling platitudes off the internet or from the wedding I did the week before, I like to begin the ceremony by telling your love story. 
              There’s magic in how you met, fell in love, and got engaged. As your story unfolds, friends and family get to share in that magic 
              and begin to understand your love for one another.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section-->