// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #7c9e83 !default;
$body-link-color: #1eb859 !default;
$blockquote-text-color: #67926b !default;

// Code
$code-bg-color: #6a8a61 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Misc
$primary-highlight:#fdc1df;
$primary-highlight-dim:#b63963;
$fill-background-box:#820f46;
//$base-theme:#0c0b09;
$base-theme:#395033;
//$base-theme:#4e5b34;
//4e is from the image color, but not a great color